.hex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 87px;
    background-color: #f0f0f0;
    position: relative;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    margin: 5px;
    cursor: pointer;
  }
  .hex:hover {
    background-color: #e0e0e0;
  }
  .popup {
    display: none;
    position: absolute;
    top: 0;
    left: 120px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
  }