
<div class="game-panel">
	
	<div id="gold-panel" class="gold-panel">
		<h1 data-gold-total="{{playerGold}}">0</h1>
	</div>
	
	<div id="mob-panel" class="mob-panel" ng-controller="mobsController">
		
		<div class="mob-ground"></div>
		
		<ul class="mob-rows">
				<li ng-repeat="(key, row) in displayBoard" class="mob-row row-{{key}} moving">
					<ul class="mob-cols">
						<li id="mob-{{mob.mobId}}" ng-repeat="mob in row track by $index" class="mob mob-{{mob.elemClass}} mob-sprite-{{mob.sprite}}" title="{{mob.name}}">
							<div class="life-bar"><div style="width:{{lifeInPer(mob.hp,mob.maxHp)}}%"></div></div>
						</li>
					</ul>
				</li>
		</ul>

	</div>

	<div id="heros-panel" class="heros-panel" ng-controller="herosController">
		<ul class="heros-list">
				<li ng-repeat="(heroKey,hero) in heros track by $index" class="hero hero-box-{{hero.id}} {{(heroKey==activeHeroKey)?'':'show-hover'}}" ng-click="$parent.selectThisHero(heroKey)">
					<strong class="class-text-{{hero.id}}">{{ hero.id }}</strong><br />
					{{hero.statLabelShort}}: {{hero.stat}}
					<ul class="weapons-list">
						<li ng-repeat="(key, weapon) in hero.weapons track by $index" ng-show="weapon.name">
							<div class="weapon-label">{{ weapon.name }}</div>
							<div class="cooldown-bar" style="width:{{coolDownPer(hero.coolDowns[key],weapon.coolDown)}}%"></div>
						</li>
					</ul>
				</li>
		</ul>
		
		<div class="active-hero hero-box-{{heros[activeHeroKey].id}}">
			
			<ul class="hero-inventory">
				
				<li ng-repeat="(itemKey,item) in heros[activeHeroKey].inventory" class="inventory-item {{ (isWeaponEquipped(activeHeroKey,item.id))?'equipped':'not-equipped'}} {{ ($parent.selectedItem.id==item.id)?'selected':'not-selected'}}" ng-click="$parent.selectThisItem(item)">
					<div class="item-icon"></div>
					<div class="item-name">{{item.name}}</div>
				</li>
				
			</ul>
			
			<div class="selected-item" ng-hide="selectedItem==null">
				<h2>{{selectedItem.name}}</h2>
				<div>{{selectedItem.text}}</div>
				<div>Cooldown: {{selectedItem.coolDown}}</div>
			</div>
			
		</div>
		
	</div>

</div>